.areaLink {
	position: relative;
	// background: red;
	// opacity: 0.3;
    cursor: pointer;
}


.painting-area-link {
	top: 7%;
    left: 27%;
    width: 45%;
    height: 85%;
}

.keypad-link {
	left: 16%;
    height: 19%;
    top: 38%;
    width: 21%;
}