div#screen_main {
	background-image:url("../images/osciloscopio.png");// url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
//
div.dial{
	background-image: url("../images/dial.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: relative;
	pointer-events: none;
	//top: 21%;
}

p#rotationNum{
	position: absolute;
	top: 50%; // Centra verticalmente
	left: 50%; // Centra horizontalmente
	transform: translate(-50%, -50%); // Ajusta el centrado
	margin: 0; // Elimina el margen del <p>
	pointer-events: none; // Permite que los eventos del mouse pasen a través del <p>
	color: black; // Cambia el color del texto
	user-select: none; // Evita que el texto sea seleccionable
	font-style: bold; // Aplica el estilo en negrita

	font-size : 13vmin; // Cambia el tamaño de la fuente
}

//div.lockContainer{
	//align-items: center;
    //position: relative;
//}
//


div.boxlight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 8vmin;
	height: 6vmin;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;

}

div.boxlight.boxlight_off {
	background-image: url("../images/light_off.png");
}

div.boxlight.boxlight_red {
	background-image: url("../images/light_red.png");
}

div.boxlight.boxlight_green {
	background-image: url("../images/light_green.png");
}
