div#screen_main {
	//background-image:url("../images/background_lock.png");// url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
}
//
div#lock{
	background-image: url("../images/lock.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
}
//


div.boxlight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 8vmin;
	height: 6vmin;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;

}

div.boxlight.boxlight_off {
	background-image: url("../images/light_off.png");
}

div.boxlight.boxlight_red {
	background-image: url("../images/light_red.png");
}

div.boxlight.boxlight_green {
	background-image: url("../images/light_green.png");
}
