div#screen_painting {
	background-image: url("../images/painting.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "Consolas", "Roboto", sans-serif;
}